@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* * {
  box-sizing: border-box;
} */

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  /* border-bottom: 1px solid #bbb; */
  padding-bottom: 10px;
  margin: 5px 0 10px;
  text-align: left;
}

h4 {
  margin: 5px 5px 5px 5px;
  text-transform: uppercase;
  /* background-color: #c0392b; */
  /* height: 4%; */
}

button:hover{
  cursor: pointer;
}

body {
  /* background-color: #bb0e0e; */
  display: flex;
  flex-direction: row;
  justify-content:left;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  overflow:none;

  min-width: 80vw;
  width: auto;

}


.sideNav{
  background-color: whitesmoke;
  height: 100%;
  width: 20%;
  position: fixed;
  display: flex;
  flex-direction: column;
}

ul li{
  list-style-type:none;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-bottom: 4px;
  /* border-bottom: 1px solid grey; */
}

li:hover{
  cursor: pointer;
}

.mainContent{
  /* background-color: blue; */
  margin-left: 20%;
  position:absolute;
  height:100vh;
  width: 80%;
  padding-left: 20px;
  margin-right: 100px;
}


.Container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: brown;
  padding: 8px 8px 8px 8px;
}

@media (max-width: 800px){
  .Container{
    flex-direction: column;
  }
}

.AddTask{
  background-color: blue;
  padding-top: 24px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  width: 100%;
  /* display: flex;
  justify-content:space-evenly; */
}

.AddTask form{
  display: flex;
  justify-content:flex-start;
  align-items: center;

  width: 100%;
}

.AddTask button{
  margin: 4px 4px 4px 4px;
  height: 30px;
  width: 90px;
  border-radius: 8%;
  border-style: none;
}

input[type='text'],
input[type='date'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  height: 30px;
}





table{
  width: 50%;
  margin-left: 80px;
  height: 50px;
  border: 1px solid rgb(97, 180, 15);
}

tr{
  width: 100%;
  color: #000;
  
}

td{
  /* width: 100%; */
  border: 1px solid rgb(180, 15, 29);
}

.task{
  width: 50%;
}

.taskDate{
  width: 20%;
}

.taskComplete{
  width: 20%;
}

.taskBox{
  width: 10%;
}


.Today{
  /* background-color: aqua; */
  margin-left: 20px;
}

.Past{
  /* background-color:rgba(224, 177, 20, 0.2); */
  margin-left: 20px;
}

.Future{
  /* background-color: rgb(229, 255, 0); */
  margin-left: 20px;
}



.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid rgb(197, 197, 197);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;

  content: '✕';
}

.checkbox-round:checked {
  background-color: #66bb6a;


}

